<div class="layout-content">
  <div class="hero" data-section-name="top">
    <div class="img img-1 active"></div>
    <div class="img img-2"></div>
    <div class="img img-3"></div>
    <div class="img img-4"></div>
    <div class="img img-5"></div>
    <div class="img img-6"></div>
    <div class="img img-7"></div>
    <div class="img img-8"></div>
    <div class="container">
      <div class="text">
        We're getting married October 11, 2014.<br>
        Come celebrate with us.
      </div>
    </div>
  </div>
  <div class="section our-story" data-section-name="our-story">
    <div class="container">
      <div class="text">
          <h2><span>Our Story</span></h2>
          <div class="text">
            Steve and Caroline met while camping out as freshmen for NCSU/UNC basketball tickets during January of 2008. Steve told Caroline she wasn't very photogenic and Caroline told Steve that she hated him. It was less than love at first sight. Despite all this, they became very close friends. They were told about a thousand times what a cute couple they were, and they got really good at saying, "We're just friends." One night, Caroline invited Steve to go out for milkshakes. He was an hour late picking her up, which she later learned was because he was on the phone with his mom deciding if he should tell Caroline how he felt about her. They went on their first date on Valentine's Day of 2009 and everything became official. Three years went by, and they spent their time transitioning from being broke college kids to being a broke web developer and an even more broke teacher. They traveled to Washington DC, Atlantic City, California, and Charleston. They went to lots of concerts and lots of football games. They adopted a wild but adorable puppy named Russell (a la Russell Wilson). They got asked three times a week when they would get engaged but they took their time (much to Caroline's chagrin). Finally, on Caroline's 22nd birthday, Steve took her to a delicious dinner at The Pit, then blindfolded her and drove her back to the field where they first met and got down on one knee. Obviously, she said yes, or this website would be significantly more awkward.
          </div>
        </div>
      </div>
    </div>
  <div class="section wedding-party" data-section-name="wedding-party">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><span>Bridesmaids</span></h2>
          <div class="party-member">
            <%= image_tag 'wedding-party/katie.jpg' %>
            <div class="name">Katie Barkley, Maid of Honor</div>
            <div class="description">
              Katie and Caroline have been friends ever since they played on the same rec soccer league as 8 year olds. This was the end of Caroline's athletic career. They went to Middle and High School together, and stayed friends even as Katie went to college across the country at the University of San Francisco. Combined, they know more about pop culture than any human alive. Try not to let this overwhelm you. Katie is witty, down to earth, and a very good time. She will be a most excellent maid of honor.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/claire-2.jpg' %>
            <div class="name">Claire Meddock, Bridesmaid</div>
            <div class="description">
              Claire is Caroline's little sister. Since the age of zero, she has been tricked into complying with Caroline's every demand, and is frequently blamed for things that Caroline actually did. She's a pretty good sport about this, so into the wedding party she goes. Claire is smarter than Caroline because she can add together numbers (something Caroline has not mastered), and she's better at art because of what we can only interpret as witchcraft. She will /hopefully/ be attending NC State next year, as this is the only way for her to maintain Caroline's "unconditional" love.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/carly.jpg' %>
            <div class="name">Carly Abernathy, Bridesmaid</div>
            <div class="description">
              Carly and Caroline met in Middle School, but didn't become close friends until they both attended NC State. If you thought Caroline was bossy, wait 'til you meet Carly. She is always on top of things, super smart, and capable of pulling off any event. She and Caroline share a deep love of red wine, sarcasm, and "bad" TV. Carly is a wedding planner, which is ridiculously useful. This is not the sole reason Caroline put her in the bridal party, but let's be honest, it doesn't hurt.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/mg.jpg' %>
            <div class="name">Mary Grace McGivney, Bridesmaid</div>
            <div class="description">
              Mary Grace and Caroline met in chorus class in Middle School. They have sang such hauntingly beautiful duets as "Anything You Can Do" from Annie Get Your Gun and "Roxie" from Chicago. Mary Grace is an amazing singer and actress and lives in New York City, which is 10 times cooler than anything anyone else is doing. She is one of the nicest people you will ever meet, and she can whip up some crafts like nobody's business.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/nicole.jpg' %>
            <div class="name">Nicole Savago, Bridesmaid</div>
            <div class="description">
              Nicole and Caroline met during Freshman Orientation at NC State. They both majored in History/Education, and did their student teaching at the same time. Nicole is the only person Caroline has met who loves history more than she does, and they can talk for hours about teaching high school, socioeconomic issues, the Civil Rights Movement, and (perhaps most importantly of all) their love for Chick-Fil-A. 
            </div>
          </div>
        </div>
        <div class="span6">
          <h2><span>Groomsmen</span></h2>
          <div class="party-member">
            <%= image_tag 'wedding-party/scott.jpg' %>
            <div class="name"> Scott Klein, Best Man</div>
            <div class ="description">
            INSERT DESCRIPTION ABOUT SCOTT HERE
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/mike.jpg' %>
            <div class="name">Mike Klein, Best Man</div>
            <div class="description">
            INSERT DESCRIPTION ABOUT MIKE HERE  
            </div>
          </div>
           <div class="party-member">
            <%= image_tag 'wedding-party/david.jpg' %>
            <div class="name">David Mobley, Groomsman</div>
            <div class="description">
              INSERT DESCRIPTION ABOUT DAVID HERE
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/dane.jpg' %>
            <div class="name">Dane Anderson, Groomsman</div>
            <div class="description">
              INSERT DESCRIPTION ABOUT DANNY HERE
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/danny.jpg' %>
            <div class="name">Danny Olinsky, Groomsman</div>
            <div class="description">
              INSERT DESCRIPTION ABOUT DANNY HERE
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>