<div class="layout-content">
  <div class="hero">
    <div class="img img-1 active"></div>
    <div class="img img-2"></div>
    <div class="img img-3"></div>
    <div class="img img-4"></div>
    <div class="img img-5"></div>
    <div class="img img-6"></div>
    <div class="img img-7"></div>
    <div class="img img-8"></div>
    <div class="container">
      <div class="text">
        We're getting married October 11, 2014.<br>
        Come celebrate with us.
      </div>
    </div>
  </div>
  <div class="section our-story">
    <div class="container">
      <h2>
        <span>Our Story</span>
      </h2>
      <div class="timeline-container">
        <div class="spine-container">
          <div class="dot dot-1"></div>
          <div class="dot dot-1"></div>
          <div class="dot dot-1"></div>
          <div class="dot dot-1"></div>
        </div>
        <div class="event-container left event-1">
          <div class="period">January 2008</div>
          <div class="body">
            Steve and Caroline meet through a mutual friend while camping out for NC State/Carolina basketball tickets during their freshman year. Steve tells Caroline she's not very photogenic and Caroline tells Steve she hates him. It's less than love at first sight.
          </div>
        </div>
        <div class="event-container right event-2">
          <div class="period">February 2008 - January 2009</div>
          <div class="body">
            Steve and Caroline become close friends. They get told 1,000 times what a cute couple they are and get really good at saying, "We're just friends." During this time, Caroline breaks up with her boyfriend and calls Steve to see if he can go with her to get a milkshake. He's an hour late picking her up, which she later learns is because he was on the phone with his mom deciding if he should tell Caroline how he feels about her.
          </div>
        </div>
        <div class="event-container left event-3">
          <div class="period">February 2009</div>
          <div class="body">
            Steve and Caroline go on their first date to Macaroni Grill. Steve fails to make a reservation, so they spend an hour killing time but have fun doing it. They realize they're pretty good at entertaining themselves (a good quality to have), and everything becomes official.
          </div>
        </div>
        <div class="event-container right event-4">
          <div class="period">March 2009 - February 2012</div>
          <div class="body">
            Steve and Caroline travel to California, Washington DC, and Atlantic City. They go to lots of concerts and lots of football games. They go from being two broke college kids to being a broke web developer and a broke teacher. They adopt a wild puppy named Russell. Everyone asks them at least 3 times a week when Steve will put a ring on it. It starts to get old!
          </div>
        </div>
        <div class="event-container left event-5">
          <div class="period">March 2009 - February 2012</div>
          <div class="body">
            After a delicious birthday dinner for Caroline at The Pit, Steve made her put on a blindfold and drove around in circles before finally heading back to the field where they first met. He got down on one knee and said some sweet things that Caroline barely remembers because her brain had turned to mush by that point. She Obviously, she said yes, or this website would be significantly more awkward.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section wedding-party">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><span>Bridesmaids</span></h2>
          <div class="party-member">
            <%= image_tag 'wedding-party/katie.jpg' %>
            <div class="name">Katie Barkley, Maid of Honor</div>
            <div class="description">
              Katie and Caroline have been friends ever since they played on the same rec soccer league as 8 year olds. This was the end of Caroline's athletic career. They went to Middle and High School together, and stayed friends even as Katie went to college across the country at the University of San Francisco. Combined, they know more about pop culture than any human alive. Try not to let this overwhelm you. Katie is witty, down to earth, and a very good time. She will be a most excellent maid of honor.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/claire-2.jpg' %>
            <div class="name">Claire Meddock, Bridesmaid</div>
            <div class="description">
              Claire is Caroline's little sister. Since the age of zero, she has been tricked into complying with Caroline's every demand, and is frequently blamed for things that Caroline actually did. She's a pretty good sport about this, so into the wedding party she goes. Claire is smarter than Caroline because she can add together numbers (something Caroline has not mastered), and she's better at art because of what we can only interpret as witchcraft. She will /hopefully/ be attending NC State next year, as this is the only way for her to maintain Caroline's "unconditional" love.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/carly.jpg' %>
            <div class="name">Carly Abernathy, Bridesmaid</div>
            <div class="description">
              Carly and Caroline met in Middle School, but didn't become close friends until they both attended NC State. If you thought Caroline was bossy, wait 'til you meet Carly. She is always on top of things, super smart, and capable of pulling off any event. She and Caroline share a deep love of red wine, sarcasm, and "bad" TV. Carly is a wedding planner, which is ridiculously useful. This is not the sole reason Caroline put her in the bridal party, but let's be honest, it doesn't hurt.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/mg.jpg' %>
            <div class="name">Mary Grace McGivney, Bridesmaid</div>
            <div class="description">
              Mary Grace and Caroline met in chorus class in Middle School. They have sang such hauntingly beautiful duets as "Anything You Can Do" from Annie Get Your Gun and "Roxie" from Chicago. Mary Grace is an amazing singer and actress and lives in New York City, which is 10 times cooler than anything anyone else is doing. She is one of the nicest people you will ever meet, and she can whip up some crafts like nobody's business.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/nicole.jpg' %>
            <div class="name">Nicole Savago, Bridesmaid</div>
            <div class="description">
              Nicole and Caroline met during Freshman Orientation at NC State. They both majored in History/Education, and did their student teaching at the same time. Nicole is the only person Caroline has met who loves history more than she does, and they can talk for hours about teaching high school, socioeconomic issues, the Civil Rights Movement, and (perhaps most importantly of all) their love for Chick-Fil-A. 
            </div>
          </div>
        </div>
        <div class="span6">
          <h2><span>Groomsmen</span></h2>
        </div>
      </div>
    </div>
  </div>
</div>