<div class="layout-content">
  <div class="hero" data-section-name="top">
    <div class="img img-1 active"></div>
    <div class="img img-2"></div>
    <div class="img img-3"></div>
    <div class="img img-4"></div>
    <div class="img img-5"></div>
    <div class="img img-6"></div>
    <div class="img img-7"></div>
    <div class="img img-8"></div>
    <div class="img img-9"></div>
    <div class="img img-10"></div>
    <div class="img img-11"></div>
    <div class="img img-12"></div>
    <div class="img img-13"></div>
    <div class="img img-14"></div>
    <div class="container">
      <div class="text">
        We're getting married October 11, 2014.<br>
        Come celebrate with us.
      </div>
    </div>
  </div>
  <div class="section our-story champagne" data-section-name="our-story">
    <div class="container">
      <div class="text">
          <h2><span>Our Story</span></h2>
          <div class="text-block">
            Steve and Caroline met while camping out as freshmen for NCSU/UNC basketball tickets during January of 2008. Steve told Caroline she wasn't very photogenic and Caroline told Steve that she hated him. It was less than love at first sight. Despite all this, they became very close friends. They were told about a thousand times what a cute couple they were, and they got really good at saying, "We're just friends." One night, Caroline invited Steve to go out for milkshakes. He was an hour late picking her up, which she later learned was because he was on the phone with his mom deciding if he should tell Caroline how he felt about her. They went on their first date on Valentine's Day of 2009 and everything became official. Three years went by, and they spent their time transitioning from being broke college kids to being a broke web developer and an even more broke teacher. They traveled to Washington DC, Atlantic City, California, and Charleston. They went to lots of concerts and lots of football games. They adopted a wild but adorable puppy named Russell (a la Russell Wilson). They got asked three times a week when they would get engaged but they took their time (much to Caroline's chagrin). Finally, on Caroline's 23rd birthday, Steve took her to a delicious dinner at The Pit, then blindfolded her and drove her back to the field where they first met and got down on one knee. Obviously, she said yes, or this website would be significantly more awkward.
          </div>
        </div>
      </div>
    </div>
  <div class="section wedding-party" data-section-name="wedding-party">
    <div class="container">
      <div class="row">
        <div class="span6">
          <h2><span>Bridesmaids</span></h2>
          <div class="party-member">
            <%= image_tag 'wedding-party/katie.jpg' %>
            <div class="name">Katie Barkley, Maid of Honor</div>
            <div class="description">
              Katie and Caroline have been friends ever since they played on the same rec soccer league as 8 year olds. This was the end of Caroline's athletic career. They went to Middle and High School together, and stayed friends even as Katie went to college across the country at the University of San Francisco. Combined, they know more about pop culture than any human alive. Try not to let this overwhelm you. Katie is witty, down to earth, and a very good time. She will be a most excellent maid of honor.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/claire-2.jpg' %>
            <div class="name">Claire Meddock, Bridesmaid</div>
            <div class="description">
              Claire is Caroline's little sister. Since the age of zero, she has been tricked into complying with Caroline's every demand, and is frequently blamed for things that Caroline actually did. She's a pretty good sport about this, so into the wedding party she goes. Claire is smarter than Caroline because she can add together numbers (something Caroline has not mastered), and she's better at art because of what we can only interpret as witchcraft.
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/carly.jpg' %>
            <div class="name">Carly Abernathy, Bridesmaid</div>
            <div class="description">
              Carly and Caroline met in Middle School, but didn't become close friends until they both attended NC State. If you thought Caroline was bossy, wait 'til you meet Carly. She is super smart and capable of pulling off any event. She and Caroline share a deep love of red wine, sarcasm, and "bad" TV. Carly is a wedding planner, which is ridiculously useful. This is not the sole reason Caroline put her in the bridal party, but let's be honest, it doesn't hurt.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/mg.jpg' %>
            <div class="name">Mary Grace McGivney, Bridesmaid</div>
            <div class="description">
              Mary Grace and Caroline met in chorus class in Middle School. They have sang such hauntingly beautiful duets as "Anything You Can Do" from Annie Get Your Gun and "Roxie" from Chicago. Mary Grace is an amazing singer and actress and lives in New York City, which is 10 times cooler than anything anyone else is doing. She is one of the nicest people you will ever meet, but probably the least punctual.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/nicole.jpg' %>
            <div class="name">Nicole Savago, Bridesmaid</div>
            <div class="description">
              Nicole and Caroline met during Freshman Orientation at NC State. They both majored in History/Education, and did their student teaching at the same time. Nicole is the only person Caroline has met who loves history more than she does, and they can talk for hours about teaching high school, socioeconomic issues, the Civil Rights Movement, and (perhaps most importantly of all) their love for Chick-Fil-A. 
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/sisters.jpg' %>
            <div class="name">Courtney & Sarah Stokes, Junior Bridesmaid</div>
            <div class="description">
              Sarah and Courtney are Caroline's half sisters. They live in New Jersey, but that hasn't stopped them from developing into thoroughly enjoyable young ladies. They are both monsters on the soccer field, and they each have a great sense of humor that will keep you in stitches. We know what you've heard about teens and preteens, but trust us, these girls are seriously likable.
            </div>
          </div>
        </div>
      </div>
        <div class="span6">
          <h2><span>Groomsmen</span></h2>
          <div class="party-member">
            <%= image_tag 'wedding-party/scott.jpg' %>
            <div class="name"> Scott Klein, Best Man</div>
            <div class ="description">
            Steve and Scott met when Steve was born. Scott was 2 at the time and already building robots and small airplanes. By the grace of God, he used neither to harm Steve in any serious way. Steve and Scott started their own business and make things online. We think. Honestly, they could just be really deep into an illegal offshore gambling situation and no one would be the wiser. Steve and Scott have their own brand of humor which they find endlessly hilarious. It mostly involves animal noises. Ah, brotherhood.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/mike.jpg' %>
            <div class="name">Mike Klein, Best Man</div>
            <div class="description">
            Steve and Mike met when Mike was born. Steve used to trick Mike into playing games that consistently resulted in pain and suffering for Mike, such as "Put a hoodie on backwards and let's see how many times I can hit you with a pillow before you catch me," but he was a good sport about it, so all's well that ends well. Mike is an EMT, so if you're planning on getting a little rowdy at the wedding, he'd be happy to stitch you back up good as new. 
            </div>
          </div>
           <div class="party-member">
            <%= image_tag 'wedding-party/david.jpg' %>
            <div class="name">David Mobley, Groomsman</div>
            <div class="description">
              Steve and David were roommates at NC State Steve's freshman year. They continued to live together until David graduated, when he finally felt like it was time to stop playing Super Smash Brothers and watching Lost for hours on end. Steve and David like to go to Drum Corps shows (nerdy) and they've even completed a Tough Mudder together (not nerdy). David lives in Charlotte now, but absence makes the heart bro fonder.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/dane.jpg' %>
            <div class="name">Dane Anderson, Groomsman</div>
            <div class="description">
              Steve and Dane have been friends since Steve moved from Garden Grove, California to Fuquay Varina, North Carolina. Dane has seen it all, from Steve's Hollister and chin strap days to the suave, debonaire man he is today. From Fuquay Varina High to NC State, Steve and Dane have spent many hours playing golf and drinking beer, playing Mario Kart and drinking beer, and drinking beer and drinking beer.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/danny.jpg' %>
            <div class="name">Danny Olinsky, Groomsman</div>
            <div class="description">
              What is there to say about Danny Olinsky that hasn't already been said? He's charming, he's Jewish, and he can sing like nobody's business. He and Steve met when Danny was hired on at Statuspage.io (when you're down, we're up) and it was instant bromantic love. Danny lives in San Francisco now, but every time Steve or Danny listens to a Taylor Swift song, it's like they're looking at the same moon.
            </div>
          </div>
          <div class="party-member">
            <%= image_tag 'wedding-party/jack.jpg' %>
            <div class="name">Jack & Emerson Marlier, Ring Bearer & Flower Girl</div>
            <div class="description">
              Jack and Emerson are Caroline's Dad Justin's cousin's kids. We think this makes Jack and Emerson Caroline's second cousins and their Mom (Jenny) Caroline's first cousin once removed, but the diagram online was pretty hard to read, so who really knows? They are painfully adorable and we feel confident they'll make their way down the aisle in one piece. Probably :)
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section the-big-day" data-section-name="the-big-day">
    <div class="map-container">
      <iframe height="1272px" width="200%" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6473.84270275237!2d-78.63935729999999!3d35.77730824999985!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89ac5f7204b8d70f%3A0x7402996af9436bb5!2sThe+Stockroom!5e0!3m2!1sen!2sus!4v1395065368776" frameborder="0" style="border:0"></iframe>
      <div class="black-container"></div>
    </div>
    <div class="container">
      <h2><span>The Big Day</span></h2>
      <div class="text-block">
        If you know us, you know we don't take anything <strong>too</strong> seriously. We want our Wedding Day to be a time to celebrate with our friends and family, show our love for each other in front of everyone, and eat (and drink) a <strong>lot</strong>. The ceremony and the reception will both be held at <a href="http://thestockroomat230.com" target="_blank">The Stockroom</a> at 230 Fayetteville Street in Raleigh. Yay, convenience! The ceremony will start at <strong>5 pm sharp</strong> (provided Caroline is on time, which is unlikely). We're looking to get this thing done in the realm of 15 minutes. You're welcome. Cocktail hour will immediately follow the ceremony. Our lovely caterer has agreed to "flip" the room for us while we take pictures, which means you fine people will be having drinks and hors d'ouevres in the front part of The Stockroom. Feel free to mingle wherever you please, just know that the reception will be starting at 6:30. You can expect delicious food, flowing drinks, and questionable (but enthusiastic) dance moves. The show's over at 10 pm, but the great news is we'll be in Downtown Raleigh and we can continue the tomfoolery wherever we choose.
      </div>
    </div>
  </div>
  <div class="section travel" data-section-name="travel">
    <div class="container">
      <div class="row">
        <div class="span6">  
          <h2><span>Travel</span></h2>
          <div class="text-block">
            We are booking a block of rooms at The Sheraton in downtown Raleigh, which is where the bridal party is staying. It is within walking distance of The Stockroom. Parking for The Stockroom can be found at the parking decks at 400 S Salisbury Street or 314 S Blount Street. Additionally, you may park at The Sheraton. Street parking is free on the weekends, but it can be hard to find, so plan accordingly.
          </div>
        </div>
        <div class="span6">
          <h2><span>Events</span></h2>
          <div class="text-block">
            Our rehearsal will be held at The Stockroom on Thursday, October 9th from 6-7 pm. We will be having a rehearsal dinner immediately after at <a href="http://www.raleightimesbar.com" target="_blank">The Raleigh Times</a>. On Friday, October 10th, we will be hosting a Welcome Cocktail Hour at The Sheraton from 8-9 pm. All wedding guests are welcome to attend!
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section registry champagne" data-section-name="registry">
    <div class="container">
      <h2><span>Registry</span></h2>
      <div class="text-block" style="text-align: center ; margin-bottom: 40px">
        We have registered at the following places:
      </div>
      <div class="row">
        <div class="registry span4">
          <a href="http://www.crateandbarrel.com/Gift-Registry/Caroline-Meddock-and-Steve-Klein/r5111164" target="_blank"><%= image_tag"cratebarrel.jpg" %></a>
        </div>
        <div class="registry span4">
          <a href="http://www.target.com/wedd/registry/XNPYWnTYdwv3rSKy7C-v9g" target="_blank"><%= image_tag"target.jpg" %></a>
        </div>
        <div class="registry span4">
          <a href="http://www.travelersjoy.com/steveandcaroline" target="_blank"><%= image_tag"travelersjoy.jpg" %></a>
        </div>
      </div>
    </div>      
  </div>

  <%= render partial: 'rsvp_modal' %>
</div>